<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
<title>Index</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale = 0.4, maximum-scale=1.0, user-scalable=no" />

<div th:include="fragments/headernavbar.html :: FRG_header_navbar_css"></div>
<div th:include="fragments/headernavbar.html :: FRG_header_navbar_js"></div>
<div th:include="fragments/headernavbar.html :: FRG_header_navbar_style"></div>
<div th:include="fragments/headernavbar.html :: FRG_header_navbar_javascript"></div>
<div th:replace="fragments/headernavbar.html :: FRG_header_navbar"></div>

<script src='https://www.google.com/recaptcha/api.js'></script>
</head>


<body>
	<div style="position: relative; text-align: center;">
		</br>
		</br>
		</br>
		Token:
		</br>
		<span th:utext="${token}"></span>
		</br>
		</br>
		<span th:utext="${@recaptchaService.getGOOGLE_RECAPTCHA_VERIFY_URL()}">URL</span>
		</br>
		<span th:utext="${@recaptchaService.getRecaptchaSiteKey()}">KEY</span>
		</br>
		<span th:utext="${@recaptchaService.getRecaptchaSecret()}">SECRET</span>


		<form id="signup-form" class="form-horizontal" method="POST" th:action="@{/myweb/registerconfirm}" th:object="${user}">

			<div class="g-recaptcha col-sm-5" th:attr="data-sitekey=${@recaptchaService.getRecaptchaSiteKey()}"></div>
			<button type="submit" class="btn btn-primary">Onayla</button>
		</form>

	</div>
</body>