<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
<title>Index</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale = 0.4, maximum-scale=1.0, user-scalable=no" />
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/logines/images/icons/favicon.ico" />
<!--===============================================================================================-->
<div th:include="fragments/headernavbar.html :: FRG_header_navbar_css"></div>
<div th:include="fragments/headernavbar.html :: FRG_header_navbar_js"></div>
<div th:include="fragments/headernavbar.html :: FRG_header_navbar_style"></div>
<div th:include="fragments/headernavbar.html :: FRG_header_navbar_javascript"></div>
<div th:replace="fragments/headernavbar.html :: FRG_header_navbar"></div>


<script src="https://www.google.com/recaptcha/api.js"></script>


</head>


<body>


	<form th:if="${token} != null and ${token} !=''" class="form-horizontal" method="POST" th:action="@{'/myweb/activateacoount?token='+${token}}">
		<div style="position: relative; text-align: center;">
			</br>
			</br>

			<div
				style="margin: 15px auto !important; width: auto !important; height: auto !important; text-align: -webkit-center; text-align: -moz-center;
	text-align: -o-center; text-align: -ms-center;"
				class="g-recaptcha" th:attr="data-sitekey=${@recaptchaService.getRecaptchaSiteKey()}"
			></div>

			<button type="submit" class="btn btn-primary" th:text="#{register.confirm.save}">></button>

			<div th:if="${recaptchamessage} != null " style="color: red; margin: 10px 30%; width: 40%">
				<div class="alert alert-danger" role="alert" style="font-size: 12px;">
					<span th:text="#{'recaptcha.message.'+${recaptchamessage}}"></span>
				</div>
			</div>
		</div>
	</form>

</body>